
  
  body {
    font-family: Arial;
    
  }
  
  header {
    background-color: #cdcdcd;
    padding: 25px;
    text-align: center;
    font-size: 35px;
    color: rgb(31, 31, 31);
    width: 100%;
    background-image:url("https://cdn.pixabay.com/photo/2015/11/06/13/29/union-jack-1027893_1280.jpg");
    }

#otsikko {
   
    background-color: rgba(255,255,255,0.5);
    color: #17285d;

}
  
  
  .vertical {
    float: left;
    width: 20%;
    height: 300px; 
    background: #ccc;
    padding-left:30px;
    padding-top: 10px;

  }


  .vertical ul {
    list-style-type: none;
    padding: 0;
    
  }
  
  .vertical a {
    text-decoration: none;
    line-height: 40px;
    color: #17285d;
    
  
  }
  .vertical a:hover {
    color: red;
  }
 
  

  * {
    box-sizing: border-box;
  }
  
  
  .column {
    float: left;
    width: 40%;
    padding: 5px;
    margin: 0px;
    height: 300px; 
    text-align: center;
    background-color: rgb(230, 229, 229);
    color: #17285d;
    
  }

  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }



  footer {
    background-color: #17285d;
    justify-content: center;
    color: #6471ac;
    margin: 0px;
    padding: 5px;
    display: flex; 

  }
  

  .topnav {
    overflow: hidden;
    background-color: #17285d;
    text-align: center;
    
    
  }
  
  
  .topnav a {
    float: none;
    display: block;
    padding: 50px 16px;
    text-decoration: none;
    display: inline;
    color: #ffffff;
  
  
  }
  .topnav li{
    display: inline;
  }
  
  .topnav a:hover {
    background-color: red;
    
  }
  .topnav a:active {
    color: rgb(212, 238, 152);
    background-color: red;
    
  }

  .topnav a:visited {
   color: #3eced6;
   background-color: red;
    
  }
 
  
  .topnav ul {
    list-style-type: none;
    padding: 0;
    
  }


 .vertical img {
  padding:0px;
  margin-top: 60px;
 }
   
 .cityname {
  margin-left: 30px;
  padding: 20px;
 }


  
