
  
  body {
    font-family: Arial;
    
  }
  
  #otsikko {
    padding: 50px;
    text-align: center;
    font-size: 35px;
    color:#17285d;
    width: 100%;
    
    
    }
   

#vertical {
    float: left;
    width: 20%;
    height: 300px; 
    background: #ccc;
    padding-left:30px;
    padding-top: 10px;

  }


  #vertical ul {
    list-style-type: none;
    padding: 0;
    
  }
  
  #vertical a {
    text-decoration: none;
    line-height: 40px;
    color: #17285d;
    
  
  }
  #vertical a:hover {
    color: red;
  }
 
  

  * {
    box-sizing: border-box;
  }
  
  
  article {
    float: left;
    width: 40%;
    padding: 5px;
    margin: 0px;
    height: 300px; 
    text-align: center;
    background-color: rgb(230, 229, 229);
    color: #17285d;
    
  }

  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }



  #footer {
    background-color: #384772;
    justify-content: center;
    color: #99a1c7;
    margin: 0px;
    padding: 5px;
    display: flex; 

  }
  

  #topnav {
    overflow: hidden;
    background-color: #384772;
    text-align: center;
    
  }
  
  #topnav a {
    float: none;
    display: block;
    padding: 50px 16px;
    text-decoration: none;
    display: inline;
    
  }
  #topnav li{
    display: inline;
  }
  

  #topnav a:link {
    color: #c6c6c6;
    
  }

  #topnav a:visited {
    color: #fffcfc;
    background-color: red;
     
   }

   #topnav a:hover {
    background-color: red;
   }

  
   #topnav a:active {
    color: rgb(164, 164, 164);
    background-color: red;
    
  }

 
  #topnav ul {
    list-style-type: none;
    padding: 0;
    
  }


  #vertical img {
  padding:0px;
  margin-top: 60px;
 }

 #first-backround {
  background-color: black;
  color: lightgray;
  

 }

 #dotted {border-style: dotted;color: lightgray; 
  height: 100px;
  width: 100px;
  }

  #second-backround{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(233, 235, 233);
    background-image: url("https://cdn.pixabay.com/photo/2018/01/24/18/05/background-3104413_1280.jpg");
  }

  

  footer {
    text-align: center;
  }

  #border {
    font-size: 18px;
    color: rgb(206, 206, 206);
    border-style: solid;
    border-color: rgba(150, 227, 99, 0.632);
    border-radius: 3px;
    padding: 35px;
   
  }
  
  #second-backround a{
    color: bisque;
  }

  
  #first-backround a{
    color: bisque;
  }

  #header2 {
    color: #eea60c;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    opacity: 0,5;
  }
  .container {
    position: relative;
    text-align: center;
    color: #384772;
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
   

  }

 

    







 
   
 